<h1>Welcome to Alexa Recipes!</h1>
<h2>
  Alexa Recipes works alongside your Amazon Echo or other Alexa-enabled device
  to let you interact with your favorite recipes via voice.
</h2>
<p>
  Now it's time to fill your account with delicious recipes. Get started here: <%= @url %>
</p>
