<h1>Welcome to Alexa Recipes!</h1>
<p>
  Alexa Recipes works alongside your Amazon Echo or other Alexa-enabled device
  to let you interact with your favorite recipes via voice.
</p>
<p>
  Now it's time to fill your account with delicious recipes. <%= link_to recipes_path, "Get started!" %>
</p>
