<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title recipe-card">My Recipes</h1>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to "Add a new recipe", new_recipe_path, class: "btn btn-success" %>
    </p>

  <% if current_user.recipes.empty? %>
    <p>
      You don't have any recipes! Why don't you <%= link_to "add one?", new_recipe_path %>
    </p>
  <% else %>
    <% @recipes.each do |recipe| %>
      <h2><%= link_to recipe.name, recipe_path(recipe), class: "recipe-in-list" %></h2>
    <% end %>
  <% end %>
  </div>
</div>
