<h1>Show Recipe</h1>

<h2><%= @recipe.name %></h2>

<% @recipe.ingredients.each do |ing| %>
  <%= ing["name"] %>
<% end %>

<p>
  This recipe has <%= @recipe.number_of_steps %> steps.
</p>

<%= @recipe.steps %>
