<div class="panel panel-default" %>
  <div class="panel-heading">
    <h1 class="panel-title about-card">Purpose</h1>
  </div>
  <div class="panel-body">
    <p>Text goes here.</p>
  </div>
</div>

<div class="panel panel-default" %>
  <div class="panel-heading">
    <h1 class="panel-title about-card">How to use this website</h1>
  </div>
  <div class="panel-body">
    <p>Text goes here.</p>
  </div>
</div>

<div class="panel panel-default" %>
  <div class="panel-heading">
    <h1 class="panel-title about-card">On your Amazon Echo device</h1>
  </div>
  <div class="panel-body">
    <p>Text goes here.</p>
  </div>
</div>
