<div class="jumbotron">
  <%= image_tag("alexa-recipes-large-3.png", alt: "Alexa Recipes Logo", class: "logo") %>
  <p>Register to get started.</p>
  <p>
    <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
